**/__pycache__
**/.DS_Store

.*

!/.gitignore


data*
temp*
data/*
stash*
datastash*
**/datastash/*
*.pdf
log
runlocal*
*stash*
hpc*
sum2*
sum3*
scratchwork
.*
inputs/*
local*
prev*
D/*
matlab/Ints
inputs matlab*
matlab/Ds*
2n1dplot*
matlab/Ws*
computed_by_integral*
zipoutputs*
outputs*
test*
savio*
zipout*
anim*
prevpaper/*
prev*
data/*
smalltests/*
prev/*
local/*
temp*
data/*
dblog*
plots/*
logs/*
debug/*
__pycache__
outputs/*
logs
e_db*
nonfunc*
venv*
2plot*
