**/__pycache__
**/.DS_Store
data*
temp*
data/*
stash*
datastash*
**/datastash/*
log
runlocal*
*stash*
hpc*
sum2*
sum3*
scratchwork
inputs/*
output*
local*
prev*
D/*
matlab/Ints
inputs matlab*
matlab/Ds*
matlab/Ws*
computed_by_integral*
zipoutputs*
test*
savio*
zipout*
anim*
prevpaper/*
prev*
data/*
smalltests/*
prev/*
local/*
temp*
data/*
plots/*
logs/*
debug/*
__pycache__
outputs
logs
debug*
