**/__pycache__
**/.DS_Store
data*
plots*
data/*
plots/*
stash*
datastash*
**/datastash/*
log
runlocal*
run.py
*stash*
hpcdata/*
firmdata*
sum2*
sum3*
scratchwork
inputs/*
outputs/*
local*
prev*
D/*
matlab/Ints
inputs matlab*
matlab/Ds*
matlab/Ws*
computed_by_integral*
zipoutputs*
